<!DOCTYPE html>
<html>
  
<head>
   <meta charset="UTF-8">
   <!-- <link rel="stylesheet" type="text/css" href="/stylesheets/index.css"> -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   <script type="text/javascript" src="/jquery-ui-theme/external/jquery/jquery.js"></script>
   <script type="text/javascript" src="/jquery-ui-theme/jquery-ui.min.js"></script>
</head>

<body>
    <div class="form-popup" id="myAddForm">
      <form  class="form-container">
        <h1>Add Form</h1>

        <label for="state"><b>State</b></label>
        <input type="text" id = "state" placeholder="Enter State Name" name="state" required>

        <label for="pop"><b>Population</b></label>
        <input type="text" id = "population" placeholder="Enter Population of state" name="pop" required>
        
        <label for="death"><b>Deaths</b></label>
        <input type="text" id = "death" placeholder="Enter no. of deaths caused by opm overdose" name="death" required>
        
        <label for="abbr"><b>State Abbreviation</b></label>
        <input type="text" id = "abbreviation" placeholder="Enter Abbreviation for state" name="abbr" required>

        <button type="submit" id = "submitAdd" class="btn" onclick="openAddForm()">Add Record</button>
      </form>
    </div>
    <script type="text/javascript">
      function openAddForm() {
            state_name = document.getElementById("state").value.toLowerCase();
            population = document.getElementById("population").value;
            death = document.getElementById("death").value;
            abbr = document.getElementById("abbreviation").value;

            data_val = {
              "State":state_name,
              "Population":population,
              "Deaths":death,
              "Abbrev":abbr
            }

            data_string = JSON.stringify(data_val);

            alert(data_string)

            var settings = {
              "async": true,
              "crossDomain": true,
              "url": "http://localhost:3000/addOverdose",
              "method": "POST",
              "headers": {
                "Content-Type": "application/json",
                "Cache-Control": "no-cache"
              },
              "processData": false,
              "data": data_string
            }

            $.ajax(settings).done(function (response) {
              alert("DATA ADDED!");
              window.open("http://localhost:3000/overdose/","_self");
            });
        }
    </script>
</body>
</html>