<html>
  <head>
    <!--Load the AJAX API-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/stylesheets/feedback.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/index.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/popup.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/dashboard.css">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <style>
      .button {
        background-color: #52527a;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
      }
    </style>

    <script type="text/javascript">

      // Load the Visualization API and the corechart package.
      google.charts.load('current', {'packages':['corechart']});

      // Set a callback to run when the Google Visualization API is loaded.
      // google.charts.setOnLoadCallback(drawChart);
      google.charts.setOnLoadCallback(drawChart1);
      google.charts.setOnLoadCallback(drawChart2);
      google.charts.setOnLoadCallback(drawChart3);
      google.charts.setOnLoadCallback(drawChart4);
      google.charts.setOnLoadCallback(drawChart5);
      google.charts.setOnLoadCallback(drawChart6);
  

      // Callback that creates and populates a data table,
      // instantiates the pie chart, passes in the data and
      // draws it

      function drawChart1() {
 

          var dataTable = google.visualization.arrayToDataTable([
            ['Community Name', 'Number of incidents', { role: 'style' } ],
            ["Austin", 368568, 'color: blue'],
            ["South Shore", 186096, 'color: blue'],
            ["Humboldt Park", 181174, 'color: blue'],
            ["West Englewood", 169988, 'opacity: 0.5'],
            ["West Town", 168683, 'opacity: 0.5'],
            ["Near West Side", 164947, 'opacity: 0.5'],
            ["North Lawndale", 163847, 'opacity: 0.5'],
            ["Auburn Gresham", 161269, 'opacity: 0.5'],
            ["Englewood", 152333, 'opacity: 0.5'],
            ["Roseland", 149107, 'opacity: 0.5'],
      ]);


          // Set chart options
          var options = {'title':'Community vs Number of Criminal Incidents Reported',
                         'width':550,
                         'height':300,
                         'backgroundColor':'#FAF6F5',
                         'chartArea': {'width': '80%', 'height': '60%'},
                         'legend': {'position': 'bottom', 'alignment':'center'}
          };

          // Instantiate and draw our chart, passing in some options.
          var chart1 = new google.visualization.ColumnChart(document.getElementById('chart_div1'));
          chart1.draw(dataTable, options);
      }

       function drawChart2() {
         

          var dataTable = google.visualization.arrayToDataTable([
            ['Community Name', 'Number of incidents', { role: 'style' } ],
            ["Burnside", 8525, 'color: blue'],
            ["Forest Glen", 10414, 'color: blue'],
            ["Mount Greenwood", 12113, 'color: blue'],
            ["Hegewisch", 12433, 'opacity: 0.5'],
            ["Oakland", 12672, 'opacity: 0.5'],
            ["Montclare", 13842, 'opacity: 0.5'],
            ["North Park", 18322, 'opacity: 0.5'],
            ["Archer Heights", 19661, 'opacity: 0.5'],
            ["Fuller Park", 19693, 'opacity: 0.5'],
            ["Beverly", 20673, 'opacity: 0.5'],
      ]);


          // Set chart options
          var options = {'title':'Community vs Number of Criminal Incidents Reported',
                         'width':550,
                         'height':300,
                         'backgroundColor':'#FAF6F5',
                         'chartArea': {'width': '80%', 'height': '60%'},
                         'legend': {'position': 'bottom', 'alignment':'center'}
          };

          // Instantiate and draw our chart, passing in some options.
          var chart2 = new google.visualization.ColumnChart(document.getElementById('chart_div2'));
          chart2.draw(dataTable, options);
      }

      function drawChart3() {
          

      var data = google.visualization.arrayToDataTable([
          ['Crime Type', 'Incidents'],
          ['THEFT', 20.91],
          ['BATTERY', 18.25],
          ['CRIMINAL DAMAGE', 11.47],
          ['OTHERS',49.37]
        ]);

        var options = {
                      'title': 'Most Frequent Crimes',
                      'width':250,
                      'height':300,
                      'backgroundColor':'#FAF6F5',
                      //'colors': ['#80aaff', '#ff4d6a'],
                      'legend': {'position': 'bottom', 'alignment':'center'},
                      'chartArea': {'width': '80%', 'height': '60%'}
        };

        var chart3 = new google.visualization.PieChart(document.getElementById('chart_div3'));
        chart3.draw(data, options);
      }

      function drawChart4() {
         
     

          var dataTable3 = google.visualization.arrayToDataTable([
            ['Month', 'Number of incidents', { role: 'style' } ],
            ["July",605183, 'color: #ff4d6a'],
            ["August", 598999,'color: #ff4d6a'],
            ["May", 578254, 'color: #ff4d6a'],
            ["January", 507500, 'color: blue'],
            ["December", 478061, 'color: blue'],
            ["February", 446463, 'color: blue']
            
          ]);

          // Set chart options
          var options= {'title':'Month vs Frequency of Crimes ',
                         'width':565,
                         'height':300,
                         'backgroundColor':'#FAF6F5',
                         'chartArea': {'width': '70%', 'height': '60%'},
                         'legend': {'position': 'bottom', 'alignment':'center'}
          };

          // Instantiate and draw our chart, passing in some options.
          var chart4 = new google.visualization.BarChart(document.getElementById('chart_div4'));
          chart4.draw(dataTable3, options);
      }


      function drawChart5() {
          

          var dataTable5 = google.visualization.arrayToDataTable([
            ['Time', 'Number of incidents', { role: 'style' } ],
            ["08 PM", 371513, 'color : #ff4d6a'],
            ["07 PM", 370697, 'color : #ff4d6a'],
            ["12 PM", 369403, 'color : #ff4d6a'],
            ["09 PM", 363716, 'color : #ff4d6a'],
            ["12 AM", 361560, 'color : #ff4d6a'],
            ["07 AM", 147395, 'color : blue'],
             ["03 AM", 139686, 'color : blue'],
             ["04 AM", 104799, 'color : blue'],
               ["06 AM", 102302, 'color : blue'],
            ["05 AM", 86597, 'color : blue']
            
          ]);


          // Set chart options
          var options = {'title':'Time of day vs Frequency of Crime',
                         'width':525,
                         'height':300,
                         'backgroundColor':'#FAF6F5',
                         'chartArea': {'width': '80%', 'height': '60%'},
                         'vAxis' : { 'gridlines': { 'count': 4 } },
                         'legend': {'position': 'bottom', 'alignment':'center'}
          };

          // Instantiate and draw our chart, passing in some options.
          var chart5 = new google.visualization.ColumnChart(document.getElementById('chart_div5'));
          chart5.draw(dataTable5, options);
      }


      function drawChart6() {
 

      var data = google.visualization.arrayToDataTable([
          ['Arrests', 'Number of Arrests'],
          ['YES', 1766253],
          ['NO', 4519824]
        ]);

        var options = {
                      'title': 'Arrests made',
                      'width':250,
                      'height':300,
                      'backgroundColor':'#FAF6F5',
                      'colors': ['#80aaff', '#ff4d6a'],
                      'legend': {'position': 'bottom', 'alignment':'center'},
                      'chartArea': {'width': '80%', 'height': '60%'}
        };
          var chart6 = new google.visualization.PieChart(document.getElementById('chart_div6'));
        chart6.draw(data, options);
        }

    </script>
  </head>

  <body>


    <h2>DashBoard</h2>



    <div style="margin-left:3em">
          <!--Div that will hold the pie chart-->
          <table >
            <tr>
            <td>
          <div style="position: relative;" id="chart_div1"></div></td>
         <td> <div style="position: relative;" id="chart_div2"></div></td>
         <td> <div style="position: relative;" id="chart_div3"></div></td></tr>
         <tr><td>
          <div style="position: relative;" id="chart_div4"></div></td>
          <td><div style="position: relative;" id="chart_div5"></div></td>
        <td>  <div style="position: relative;" id="chart_div6"></div></td>
      </tr>
    </table>
          
    </div>

  </body>



</html>