
<!DOCTYPE html>
<html lang="en"> 

<!-- Adapted from: 
     HTML5 and CSS3 for Dummies, 3rd ed.
     by Andy Harris
     Wiley, 2014
     ISBN 978-1-118-28938-9
 -->


    <!-- <script src="jquery.js"></script>  -->
    
 

   

<head>
    <title>Drag and Drop</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" 
          type="text/css" 
          href="/stylesheets/index.css">
    <link rel="stylesheet"
          type="text/css"
          href="css/jquery-ui-lightness/jquery-ui.min.css" />
    <link rel="stylesheet"
          type="text/css"
          href="css/dragdrop.css" />
    <script type="text/javascript"
            src="js/jquery.js">
    </script>
    <script type="text/javascript"
            src="js/jquery-ui-lightness/jquery-ui.min.js">
    </script>
    <script type="text/javascript"
            src="js/dragdrop.js">
    </script>
    <script> 
        $(function(){
          $("#includedContent").load("sideNav.html"); 
        });
    </script> 
    <script>
    function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
        }
    
        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }
    </script>
</head>
<body>
    <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>

    <!-- <a href="/home"><h2 class="center" >Opioid Webpage</h2></a> -->

    <div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="/home">Homepage</a>
    <a href="/drugname">Drug Name</a>
    <a href="/StateVsDeath">State vs Opioid Deaths</a>
    <a href="/StateVsPop">State vs Population</a>
    <a href="/heatmap">HeatMap</a>
    <a href="/feedback">Feedback</a>
    <a href="/dragdrop">Drag and Drop</a>
    <a href="/aboutUs">About Us</a>
    <!-- <a href="#">About Us</a> -->
    </div>

    <h1>Drag and Drop Demo</h1>
    <div id="includedContent"></div>
    <div class="dragMe">
        DRAG ME
    </div>
    <div id="target">
        DROP HERE
    </div>
</body>
</html>