<!DOCTYPE html>
<html lang="en">
<head>
    <title>Drag and Drop</title>
    <meta charset="utf-8" >
    <link rel="stylesheet"
          type="text/css"
          href="css/jquery-ui-lightness/jquery-ui.min.css" >
    <link rel="stylesheet"
          type="text/css"
          href="css/dragdrop.css" >
    <script type="text/javascript"
            src="js/jquery.js">
    </script>
    <script type="text/javascript"
            src="js/jquery-ui-lightness/jquery-ui.min.js">
    </script>
    <script type="text/javascript"
            src="js/dragdrop.js">
    </script>
</head>

<body>
    <h1>Drag and Drop Demo</h1>
    <div class="dragMe">
        DRAG ME
    </div>
    <div id="target">
        DROP HERE
    </div>
</body>
</html>