<!DOCTYPE html>
<html>
<head>
	<title>Drug Name and Generic Name</title>
	  <meta name="viewport" content="width=device-width, initial-scale=1">
	  <link rel="stylesheet" type="text/css" href="/stylesheets/feedback.css">
	  <link rel="stylesheet" type="text/css" href="/stylesheets/index.css">
	  <link rel="stylesheet" type="text/css" href="/stylesheets/drugName.css">
	  <link rel="stylesheet" type="text/css" href="/stylesheets/popup.css">
	  <!-- <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"> -->
	  <!-- <link rel="stylesheet" href="/resources/demos/style.css"> -->
	  <!-- <script src="https://code.jquery.com/jquery-1.12.4.js"></script> -->
	  <!-- <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script> -->
	  <style>
		  #feedback { font-size: 1.4em; }
		  #selectable .ui-selecting { background: #FECA40; }
		  #selectable .ui-selected { background: #F39814; color: blue; }
		  #selectable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
		  #selectable li { margin: 3px; padding: 0.4em; font-size: 1.4em; height: 18px; }
	  </style>
	  <script>
		  $( function() {
		    $( "#selectable" ).selectable();
		  } );
	  </script>
	  <link rel="stylesheet" type="text/css" href="/jquery-ui-theme/jquery-ui.min.css" />
  	<script type="text/javascript" src="/jquery-ui-theme/external/jquery/jquery.js"></script>
  	<script type="text/javascript" src="/jquery-ui-theme/jquery-ui.min.js"></script>
</head>
<body>

  <div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="/home">Homepage</a>
    <a href="/drugname">Drug Name</a>
    <a href="/StateVsDeath">State vs Opioid Deaths</a>
    <a href="/StateVsPop">State vs Population</a>
    <a href="/heatmap">HeatMap</a>
	<a href="/feedback">Feedback</a>
    <a href="/aboutUs">About Us</a>
    <a href="/overdose">Overdoses</a>
    <a href="/dashboard">Dashboard</a>
  </div>

  <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>

  <h2 class="ui-state-default">Drug List</h2>

	<ul id="selectable">
		<li class="ui-widget-content"> ABSTRAL </li>
		<li class="ui-widget-content"> ACETAMINOPHEN-CODEINE </li>
		<li class= "ui-widget-content"> ACTIQ </li>
		<li class= "ui-widget-content"> ASCOMP WITH CODEINE </li>
		<li class= "ui-widget-content"> ASPIRIN-CAFFEINE-DIHYDROCODEIN </li>
		<li class= "ui-widget-content"> AVINZA </li>
		<li class= "ui-widget-content"> BELLADONNA-OPIUM </li>
		<li class= "ui-widget-content"> BUPRENORPHINE HCL </li>
		<li class= "ui-widget-content"> BUTALB-ACETAMINOPH-CAFF-CODEIN </li>
		<li class= "ui-widget-content"> BUTALB-CAFF-ACETAMINOPH-CODEIN </li>
		<li class= "ui-widget-content"> BUTALBITAL COMPOUND-CODEINE </li>
		<li class= "ui-widget-content"> BUTORPHANOL TARTRATE </li>
		<li class= "ui-widget-content"> BUTRANS </li>
		<li class= "ui-widget-content"> CAPITAL W-CODEINE </li>
		<li class= "ui-widget-content"> CARISOPRODOL COMPOUND-CODEINE </li>
		<li class= "ui-widget-content"> CARISOPRODOL-ASPIRIN-CODEINE </li>
		<li class= "ui-widget-content"> CODEINE SULFATE </li>
		<li class= "ui-widget-content"> CO-GESIC </li>
		<li class= "ui-widget-content"> CONZIP </li>
		<li class= "ui-widget-content"> DEMEROL </li>
		<li class= "ui-widget-content"> DEMEROL </li>
		<li class= "ui-widget-content"> DILAUDID </li>
		<li class= "ui-widget-content"> DILAUDID </li>
		<li class= "ui-widget-content"> DILAUDID-HP </li>
		<li class= "ui-widget-content"> DISKETS </li>
		<li class= "ui-widget-content"> DOLOPHINE HCL </li>
		<li class= "ui-widget-content"> DURAGESIC </li>
		<li class= "ui-widget-content"> DURAMORPH </li>
		<li class= "ui-widget-content"> ENDOCET </li>
		<li class= "ui-widget-content"> ENDODAN </li>
		<li class= "ui-widget-content"> EXALGO </li>
		<li class= "ui-widget-content"> FENTANYL </li>
		<li class= "ui-widget-content"> FENTANYL CITRATE </li>
		<li class= "ui-widget-content"> FENTORA </li>
		<li class= "ui-widget-content"> FIORICET WITH CODEINE </li>
		<li class= "ui-widget-content"> FIORINAL WITH CODEINE #3 </li>
		<li class= "ui-widget-content"> HYCET </li>
		<li class= "ui-widget-content"> HYDROCODONE-ACETAMINOPHEN </li>
		<li class= "ui-widget-content"> HYDROCODONE-IBUPROFEN </li>
		<li class= "ui-widget-content"> HYDROMORPHONE ER </li>
		<li class= "ui-widget-content"> HYDROMORPHONE HCL </li>
		<li class= "ui-widget-content"> HYDROMORPHONE HCL </li>
		<li class= "ui-widget-content"> IBUDONE </li>
		<li class= "ui-widget-content"> INFUMORPH </li>
		<li class= "ui-widget-content"> KADIAN </li>
		<li class= "ui-widget-content"> LAZANDA </li>
		<li class= "ui-widget-content"> LEVORPHANOL TARTRATE </li>
		<li class= "ui-widget-content"> LORCET </li>
		<li class= "ui-widget-content"> LORCET 10-650 </li>
		<li class= "ui-widget-content"> LORCET HD </li>
		<li class= "ui-widget-content"> LORCET PLUS </li>
		<li class= "ui-widget-content"> LORTAB </li>
		<li class= "ui-widget-content"> MAGNACET </li>
		<li class= "ui-widget-content"> MEPERIDINE HCL </li>
		<li class= "ui-widget-content"> MEPERIDINE HCL </li>
		<li class= "ui-widget-content"> MEPERITAB </li>
		<li class= "ui-widget-content"> METHADONE HCL </li>
		<li class= "ui-widget-content"> METHADONE INTENSOL </li>
		<li class= "ui-widget-content"> METHADOSE </li>
		<li class= "ui-widget-content"> MORPHINE SULFATE </li>
		<li class= "ui-widget-content"> MORPHINE SULFATE </li>
		<li class= "ui-widget-content"> MORPHINE SULFATE ER </li>
		<li class= "ui-widget-content"> MS CONTIN </li>
		<li class= "ui-widget-content"> NALBUPHINE HCL </li>
		<li class= "ui-widget-content"> NORCO </li>
		<li class= "ui-widget-content"> NUCYNTA </li>
		<li class= "ui-widget-content"> NUCYNTA ER </li>
		<li class= "ui-widget-content"> OPANA </li>
		<li class= "ui-widget-content"> OPANA ER </li>
		<li class= "ui-widget-content"> OPIUM TINCTURE </li>
		<li class= "ui-widget-content"> OXECTA </li>
		<li class= "ui-widget-content"> OXYCODONE HCL </li>
		<li class= "ui-widget-content"> OXYCODONE HCL ER </li>
		<li class= "ui-widget-content"> OXYCODONE HCL-ASPIRIN </li>
		<li class= "ui-widget-content"> OXYCODONE HCL-IBUPROFEN </li>
		<li class= "ui-widget-content"> OXYCODONE-ACETAMINOPHEN </li>
		<li class= "ui-widget-content"> OXYCONTIN </li>
		<li class= "ui-widget-content"> OXYMORPHONE HCL </li>
		<li class= "ui-widget-content"> OXYMORPHONE HCL ER </li>
		<li class= "ui-widget-content"> PENTAZOCINE-ACETAMINOPHEN </li>
		<li class= "ui-widget-content"> PENTAZOCINE-NALOXONE HCL </li>
		<li class= "ui-widget-content"> PERCOCET </li>
		<li class= "ui-widget-content"> PERCODAN </li>
		<li class= "ui-widget-content"> PRIMLEV </li>
		<li class= "ui-widget-content"> REPREXAIN </li>
		<li class= "ui-widget-content"> ROXICET </li>
		<li class= "ui-widget-content"> ROXICODONE </li>
		<li class= "ui-widget-content"> RYBIX ODT </li>
		<li class= "ui-widget-content"> STAGESIC </li>
		<li class= "ui-widget-content"> SUBSYS </li>
		<li class= "ui-widget-content"> SYNALGOS-DC </li>
		<li class= "ui-widget-content"> TALWIN </li>
		<li class= "ui-widget-content"> TRAMADOL HCL </li>
		<li class= "ui-widget-content"> TRAMADOL HCL ER </li>
		<li class= "ui-widget-content"> TRAMADOL HCL-ACETAMINOPHEN </li>
		<li class= "ui-widget-content"> TREZIX </li>
		<li class= "ui-widget-content"> TYLENOL-CODEINE NO.3 </li>
		<li class= "ui-widget-content"> TYLENOL-CODEINE NO.4 </li>
		<li class= "ui-widget-content"> ULTRACET </li>
		<li class= "ui-widget-content"> ULTRAM </li>
		<li class= "ui-widget-content"> ULTRAM ER </li>
		<li class= "ui-widget-content"> VICODIN </li>
		<li class= "ui-widget-content"> VICODIN ES </li>
		<li class= "ui-widget-content"> VICODIN HP </li>
		<li class= "ui-widget-content"> VICOPROFEN </li>
		<li class= "ui-widget-content"> XARTEMIS XR </li>
		<li class= "ui-widget-content"> XODOL 10-300 </li>
		<li class= "ui-widget-content"> XODOL 5-300 </li>
		<li class= "ui-widget-content"> XODOL 7.5-300 </li>
		<li class= "ui-widget-content"> XYLON 10 </li>
		<li class= "ui-widget-content"> ZAMICET </li>
		<li class= "ui-widget-content"> ZOHYDRO ER </li>
		<li class= "ui-widget-content"> ZOLVIT </li>
	</ul>

</body>

<script type="text/javascript" src="/routes/nav.js"></script>
</html>