
<!DOCTYPE html>
<html>

<head>
        <title>Opioid Webpage</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="/stylesheets/feedback.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/index.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/popup.css">
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <link rel="stylesheet" href="/resources/demos/style.css">
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>


<body>

    <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>

    <!-- <a href="/home"><h2 class="center" >Opioid Webpage</h2></a> -->

    <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <a href="/home">Homepage</a>
      <a href="/StateVsDeath">State vs Opioid Deaths</a>
      <a href="/StateVsPop">State vs Population</a>
      <a href="/heatmap">HeatMap</a>
      <a href="/feedback">Feedback</a>
      <!-- <a href="#">About Us</a> -->
    </div>

    <h2>Feedback Form</h2>

    <div class="box">
      <form action="feedback" >
        <label for="fname">First Name</label>
        <input type="text" id="fname" name="firstname" placeholder="Your name..">

        <label for="lname">Last Name</label>
        <input type="text" id="lname" name="lastname" placeholder="Your last name..">

        <label for="email">Email id</label>
        <input type="text" id="email" name="emailid" placeholder="Your email id">

        <label for="dob">Date of Birth</label>
        <input type="text" id="datepicker">

        <label for="state">State</label>
        <select id="state" name="state">
          <option value="California">California</option>
          <option value="Texas">Texas</option>
          <option value="New York">New York</option>
        </select>
        <!-- <input type="submit" value="Submit" id="myBtn"> -->
      </form>

    <button id="myBtn">Submit</button>

    </div>



<!-- Trigger/Open The Modal -->


<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <span class="close">&times;</span>
       <!-- <h2>Modal Header</h2> -->
    </div>
    <div class="modal-body" id="thanks">
      
    </div>
     <div class="modal-footer">
      <!-- <h3>Modal Footer</h3> -->
    </div>
  </div>

</div>

<script type="text/javascript" src="/routes/nav.js"></script>

<script>
      $( function() {
        $( "#datepicker" ).datepicker();
      } );
</script>



<script>
// Get the modal
var modal = document.getElementById('myModal');

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal 
btn.onclick = function() {
    submitFeedback();
    modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
    modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}

function submitFeedback() {
    var fname = document.getElementById("fname");
    var lname = document.getElementById("lname");
    var email = document.getElementById("email")
    var output = "<p>Thank you ";
    output += fname.value + " " + lname.value;
    output += ", for your valuable feedback. We will contact you at ";
    
    output += email.value;
    output += ".</p>";

    document.getElementById("thanks").innerHTML = output;
}

</script>

</body>
</html>

